@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

.font-header {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-underline-position: under;
}

.font-cover__title {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-transform:uppercase;
}

.font-cover__description {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 22px;
  font-style:normal;
  line-height: 28px;
  letter-spacing: normal;
  text-transform: uppercase;
}

.font-lots__heading,
.font-about__title {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.font-card__title {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.font-card__text {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.font-lots__look-more-link {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}

.font-about__text {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.font-footer {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-position: under;
}

