.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 50px 96px 50px;
  list-style: circle;
}

.header__links-list {
  display: flex;
  gap: 34px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  width: 136px;
  height: 105px;
  margin: auto;
  margin-left: 43px;
}

.address {
  width: 240px;
}

/* обложка */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-position: top;
  background-size: cover;
}

.cover__title {
  position: relative;
  display: grid;
  grid-template-columns: 281px 339px 290px;
  grid-template-rows: 115px 115px 115px;
  row-gap: 20px;
  column-gap: 45px;
  padding: 165px 50px 106px 50px;
}

.aligned-text_left {
  grid-column: 1/2;
  grid-row: 1/2;
}

.aligned-text_center {
  grid-column: 2/3;
  grid-row: 2/3;
}

.aligned-text_right {
  grid-column: 2/4;
  grid-row: 3/4;
  padding-left: 283px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.cover__description-text {
  position: relative;
  word-spacing: 18.5px;
}

.bet-button {
  position: relative;
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  background: transparent;
}

/* лоты */

.lots {
  margin: 180px 24px 0px 24px;
}

.lots__heading {
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 27px;
  margin-bottom: 30px;
  list-style: none;
}
.lots__card-list-item {
  position: relative;
  width: 334px;
  background-position: top;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  margin: 48px 40px;
}

.lots__look-more-link {
  margin-left: 40px;
}

/* об аукционе*/

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 120px 24px 0px 24px;
}

.about-logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000000;
}

.about-logo {
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  width: 693px;
  margin-top: 137px;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 689px;
}

/* подвал */

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  margin-bottom: 82px;
  padding: 0 50px;
}

.footer-address {
  width: 265px;
  font-style: normal;
  line-height: 24px;
}

.footer__menu {
  margin-top: 0;
  padding: 0;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  display: flex;
  justify-content: center;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer__social-icon {
  height: 48px;
}

/* шрифты */

.font-header {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-position: under;
}

.font-address {
  font-style: normal;
}

.font-cover__title {
  color: #ffffff;
  font-family: "Raleway", "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.font-cover__description {
  color: #ffffff;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  text-transform: uppercase;
}

.font-lots__heading,
.font-about__title {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.font-card-link {
  text-decoration-line: none;
}

.font-card__title {
  color: #ffffff;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.font-card__text {
  color: #ffffff;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.font-lots__look-more-link {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
  text-underline-position: under;
}

.font-about__text {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.font-footer {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-position: under;
}
